<article class="bar-details">
  <div class="row">
    <div class="col-md-6">
      <h1>Bar</h1>
      <img src="{{ bar.image_url }}">
      <h2>{{bar.name}} ({{ bar.rating }} stars)</h2>
      <h4>{{bar.categories }}</h4>
      <p>{{bar.snippet_text }}</p>
      <h5>
        <small>Created at</small>
        {{ bar.created_at }}
      </h5>
    </div>
    <div class="col-md-6">
      <img src="https://maps.googleapis.com/maps/api/staticmap?center={{bar.latitude}},{{bar.longitude}}
        &zoom=13&size=600x600&maptype=roadmap
        &markers={{bar.latitude}},{{bar.longitude}}
        &key=AIzaSyCF4Ch1bseH1r_VJ32vmiRalyA0jwwquPU">
    </div>
  </div>
</article>
<aside class="sr-only loading-progress">
  <span ng-if="loading" class="loading">Loading</span>
  <span ng-if="!loading" class="not-loading">Done Loading</span>
</aside>

